*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 8vh;
    background-color: #5e5e5e;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 60px;
}

.pesquisar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  width: 300px;
}

.busca {
    position: fixed;
    top: -12;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}   

